#trat {
    display: block;
    margin: auto;
  }

  .flag-container {
    display: flex;
    align-items: center;
  }
  
  .circuit-name {
    margin-left: 10px;
  }
  
  .circuit-info {
    margin-top: 10px;
  }