.grid-tymy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .grid-tymy ion-card {
    height: 100%;
  }

  ion-card-title {
    font-size: larger;
    font-weight: bold;
  }
  
  #tymy {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  #auta {
    display: block;
    margin: auto;
  }

ion-card-content span {
    margin-top: 5px;
    display: block;
}

#narodnost {
    margin-right: 1%;
}