<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Šampionát týmů
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-tymy">
    <ng-container *ngFor="let t of poleT; let i = index">
      <ion-card *ngIf="i % 2 === 0">
        <ion-card-header>
          <ion-card-subtitle>#{{t.position}}</ion-card-subtitle>
          <ion-card-title><img id ="narodnost" src="assets/vlajky2/{{t.vlajka}}.png" /> {{t.Constructor.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{t.points}} bodů
          <img id="tymy" src="assets/fotky/{{t.Constructor.name}}.png" />
          <img id="auta" src="assets/cars/{{t.Constructor.name}}.png" />
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="i % 2 !== 0">
        <ion-card-header>
          <ion-card-subtitle>#{{t.position}}</ion-card-subtitle>
          <ion-card-title><img id ="narodnost" src="assets/vlajky2/{{t.vlajka}}.png" /> {{t.Constructor.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{t.points}} bodů
          <img id="tymy" src="assets/fotky/{{t.Constructor.name}}.png" />
          <img id="auta" src="assets/cars/{{t.Constructor.name}}.png" />
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-grid>
</ion-content>
