<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Týmy
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <ion-card-content>
  <!-- Input with placeholder -->
  <ion-searchbar  [(ngModel)]="name" placeholder="Najdi tým "></ion-searchbar>
  <ion-button (click)="btnFindClicked()" expand="block">Hledej</ion-button>
  </ion-card-content>

  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
      Název týmu: {{ nameTeam }}  <ion-icon name="arrow-forward-outline"></ion-icon> Národnost: {{ nationality }}
    </ion-card-content>
    </ion-card>
  </ion-content>