<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drivers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <ion-card-content>
  <!-- Input with placeholder -->
  <ion-input [(ngModel)]="name" placeholder="Find team "></ion-input>
  <ion-button (click)="btnFindClicked()" expand="block">Find</ion-button>
  </ion-card-content>

  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
      Name of team: {{ nameTeam }}  <ion-icon name="arrow-forward-outline"></ion-icon> Nationality: {{ nationality }}
    </ion-card-content>
    </ion-card>
  </ion-content>