<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jezdci
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <ion-card-content>
  <!-- Input with placeholder -->
  <ion-searchbar  [(ngModel)]="name" placeholder="Najdi jezdce podle přijmení "></ion-searchbar>
  <ion-button (click)="btnFindClicked()" expand="block">Hledej</ion-button>
  </ion-card-content>

  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
      Jméno jezdce: {{ firstName }} {{lastName}} <ion-icon name="arrow-forward-outline"></ion-icon> Národnost: <ion-icon size="small" src="assets/vlajky/{{nationality}}.svg"></ion-icon> <ion-icon name="arrow-forward-outline"></ion-icon> Datum narození: {{DOB}} 
    </ion-card-content>
    </ion-card>
  </ion-content>