<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jezdci
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <ion-card-content>
  <!-- Input with placeholder -->
  <ion-label>Napiš přijmení</ion-label>
  <ion-searchbar  [(ngModel)]="name" placeholder="Najdi jezdce podle přijmení "></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div><ion-button (click)="btnFindClicked()" expand="block">Hledej</ion-button></div>
      </ion-col>
      <ion-col>
        <div><ion-button (click)="presmeruj()" expand="block">Historie</ion-button></div>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-card-content>

  </ion-card>
  <ion-card class="welcome-card" [style.display]="isVisible ? 'block' : 'none'">
    <ion-card-header>
    <ion-card-subtitle>Narozen: {{DOB}}</ion-card-subtitle>
    <ion-card-title><img src = "assets/vlajky2/{{nationality}}.png" /> {{ firstName }} {{lastName}}</ion-card-title>
  </ion-card-header>
    <ion-card-content>
      Počet sezón v F1: {{pocet}}
      <p *ngFor="let j of status; let i = index"> {{j.status}} - {{j.count}}x</p>
    </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let j of sezony; let i = index">
      <ion-card-header>
        <ion-card-subtitle>#{{j.DriverStandings[0].position}} na konci sezóny</ion-card-subtitle> 
        <ion-card-title>sezóna {{j.season}} ({{j.DriverStandings[0].Constructors[0].name}})</ion-card-title> 
      </ion-card-header>
      <ion-card-content *ngIf="j.DriverStandings[0].points > 4 || j.DriverStandings[0].points == 0">
        {{j.DriverStandings[0].points}} bodů <span><ion-icon name="trophy-sharp" size="medium"></ion-icon>
          {{j.DriverStandings[0].wins}} vítězství </span>
      </ion-card-content>
      <ion-card-content *ngIf="j.DriverStandings[0].points == 1">
        {{j.DriverStandings[0].points}} bod <span><ion-icon name="trophy-sharp" size="medium"></ion-icon>
          {{j.DriverStandings[0].wins}} vítězství</span>
      </ion-card-content>
      <ion-card-content *ngIf="j.DriverStandings[0].points > 1 && j.DriverStandings[0].points &lt; 5">
        {{j.DriverStandings[0].points}} body <span><ion-icon name="trophy-sharp" size="medium"></ion-icon>
          {{j.DriverStandings[0].wins}} vítězství</span>
      </ion-card-content>
     </ion-card>
  </ion-content>
  