<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Drivers championship
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label color="primary">Place | Name | Team | Points </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>#{{position}} |   {{ firstName}} {{lastName}} | {{teamName}} | {{points}} pts </ion-label>
  </ion-item>


  <div *ngFor="let item of myArr ">
    {{item.username}}
    {{item.genrePref}}
  </div>
  
</ion-list>
</ion-content>
