.grid-jezdci {
    width: 50%;
    float: left;
}

#jezdci {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-jezdci ion-card {
    height: 57vh;
}

ion-card-content span {
    margin-top: 5px;
    display: block;
}

#narodnost {
    margin-right: 1%;
}




