<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kontakt
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card id = "prvni" >
    <ion-card-content>
      <img src = "assets/icon/favicon.png" />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Můj facebook</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="logo-facebook"></ion-icon><a href="https://www.facebook.com/mrann1x/"> Jakub Anděl</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Můj email</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="mail-outline"></ion-icon><a href="mailto:j_andel@utb.cz"> j_andel@utb.cz</a>
    </ion-card-content>
  </ion-card>
</ion-content>

