.obsah{
    --background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../../assets/fotky/pozadi.jpg") no-repeat center center / cover;
    
}

.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-top: 20%;
  }
  .timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }

  img
  {
    margin-right: 1%;
  }