<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kvalifikace 
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Sezóna</ion-label>
        <ion-select aria-required="required" [(ngModel)]="sezona" (ionChange)="jezdciSezona($event)" placeholder="Vyber sezónu">
          <ion-select-option *ngFor="let s of sezony" value="{{s}}">{{s}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item id = "zavod" [style.display]="isVisible ? 'block' : 'none'">
        <ion-label>Závod</ion-label>
        <ion-select [(ngModel)]="vybranyZ" (ionChange)="zavodC($event)" placeholder="Vyber závod">
          <ion-select-option *ngFor="let z of zavody" value={{z.round}}>{{z.raceName}}</ion-select-option>
        </ion-select>
      </ion-item>      
      <ion-item id = "vybratJ" [style.display]="isVisible2 ? 'block' : 'none'">
        <ion-label>Jezdec</ion-label>
        <ion-select [(ngModel)]="jezdec" id = "jzdc" (ionChange)="jezdecC($event)" placeholder="Vyber jezdce">
          <ion-select-option *ngFor="let j of jezdci" value="{{j.driverId}}">{{j.givenName}} {{j.familyName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-text-right">
        <ion-checkbox id = "CBZ" value="option" (ionChange)="isChecked($event)" name="option"></ion-checkbox>
        <ion-label>Vybrat závod</ion-label>
      </ion-item>
      <ion-item class="ion-text-right">
        <ion-checkbox id = "CBJ" value="option2" (ionChange)="isChecked2($event)" name="option"></ion-checkbox>
        <ion-label>Vybrat jezdce</ion-label>
      </ion-item>
      
    </ion-col>
    
  </ion-row>
  <ion-button id ="tlacitko" [disabled]="isDisabled" (click)="btnFindClicked()" color="dark" expand="block">Hledej</ion-button>
  <ion-row id = "vysledky" [style.display]="isVisible3 ? 'block' : 'none'">
    <ion-col>
      <ng-container *ngIf="velikost &lt; 2">
      <ion-card *ngFor="let j of zavodyV | slice:0:1; let i = index">
        <ion-card-header>
          <ion-card-title><img src = "assets/vlajky2/{{zavodStat}}.png" /> {{zavodRok}} {{zavodJmeno}} ({{zavodMesto}})</ion-card-title>
        </ion-card-header>
       </ion-card>

       <ion-card *ngFor="let j of zavodyV; let i = index">
        <ion-card-header>
          <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka}}.png" /> {{j.Driver.givenName}} {{j.Driver.familyName}} ({{j.Constructor.name}}) - #{{j.position}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>
              <div *ngIf="j.Q1" style="white-space: pre">
              Q1: {{j.Q1}} <br>
              Q2: {{j.Q2}} <br>
              Q3: {{j.Q3}}
            </div>
            <div *ngIf="!j.Q1" style="white-space: pre" >
              Bez času
            </div>
             </ion-label>
        </ion-card-content>
        
       </ion-card>
      </ng-container>

      <ng-container *ngIf="velikost > 1">
        <ion-card *ngFor="let j of zavodyV | slice:0:1; let i = index">
          <ion-card-header>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka2}}.png" /> {{j.QualifyingResults[0].Driver.givenName}} {{j.QualifyingResults[0].Driver.familyName}} v kvalifikacích ({{j.season}}) </ion-card-title>
          </ion-card-header>
         </ion-card>
        <ion-card *ngFor="let j of zavodyV; let i = index">
          <ion-card-header>
            <ion-card-subtitle>#{{j.QualifyingResults[0].position}} - pozice na startu</ion-card-subtitle>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka}}.png" /> {{j.season}} {{j.raceName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <div *ngIf="j.QualifyingResults[0].Q1" style="white-space: pre" >
              Q1: {{j.QualifyingResults[0].Q1}} <br>
              Q2: {{j.QualifyingResults[0].Q2}} <br>
              Q3: {{j.QualifyingResults[0].Q3}}
            </div>
            <div *ngIf="!j.QualifyingResults[0].Q1" style="white-space: pre" >
              Bez času
            </div>
             </ion-label>
        </ion-card-content>
         </ion-card>

         
         
        </ng-container>
       
  </ion-col>
  </ion-row>
  

</ion-grid>


</ion-content>



