.grid-kvalifikace {
    width: 50%;
    float: left;
}

.grid-kvalifikace ion-card {
    height: 55vh;
}

ion-card-content span {
    margin-top: 5px;
    display: block;
}

#zavod {
    display: none;
}

#vybratJ {
    display: none;
}





