<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sprinty
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Sezóna</ion-label>
        <ion-select aria-required="required" [(ngModel)]="sezona" (ionChange)="jezdciSezona($event)" placeholder="Vyber sezónu" #projectSelect >
          <ion-select-option *ngFor="let s of sezony" value="{{s}}">{{s}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item id = "zavod" [style.display]="isVisible ? 'block' : 'none'">
        <ion-label>Závod</ion-label>
        <ion-select [(ngModel)]="vybranyZ" (ionChange)="zavodC($event)" placeholder="Vyber závod" [required]="isVisible">
          <ion-select-option *ngFor="let z of zavody" value={{z.round}}>{{z.raceName}}</ion-select-option>
        </ion-select>
      </ion-item>      
      <ion-item id = "vybratJ" [style.display]="isVisible2 ? 'block' : 'none'">
        <ion-label>Jezdec</ion-label>
        <ion-select [(ngModel)]="jezdec" (ionChange)="jezdecC($event)" placeholder="Vyber jezdce" [required]="isVisible2">
          <ion-select-option *ngFor="let j of jezdci" value="{{j.driverId}}">{{j.givenName}} {{j.familyName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-text-right">
        <ion-checkbox id = "CBZ" value="option" (ionChange)="isChecked($event)" name="option"></ion-checkbox>
        <ion-label>Vybrat závod</ion-label>
      </ion-item>
      <ion-item class="ion-text-right">
        <ion-checkbox id = "CBJ" value="option2" (ionChange)="isChecked2($event)" name="option"></ion-checkbox>
        <ion-label>Vybrat jezdce</ion-label>
      </ion-item>
      
    </ion-col>
    
  </ion-row>
  <ion-button id ="tlacitko" [disabled]="isDisabled" (click)="btnFindClicked()" color="dark" expand="block">Hledej</ion-button>
  <ion-row id = "vysledky" [style.display]="isVisible3 ? 'block' : 'none'">
    <ion-col>
      <ng-container *ngIf="velikost &lt; 2">
        <ion-card *ngFor="let j of zavodyV | slice:0:1; let i = index">
          <ion-card-header>
            <ion-card-title><img src = "assets/vlajky2/{{zavodStat}}.png" /> {{zavodRok}} {{zavodJmeno}} ({{zavodMesto}}) - Sprint</ion-card-title>
          </ion-card-header>
         </ion-card>
  
         <ion-card *ngFor="let j of zavodyV; let i = index">
          <ion-card-header>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka}}.png" /> {{j.Driver.givenName}} {{j.Driver.familyName}} ({{j.Constructor.name}}) - #{{j.position}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-label>
                <div style="white-space: pre" >
                  Pozice na startu: {{j.grid}} <br>
                  Odjetých kol: {{j.laps}} <br>
                  Status: {{j.status}} <br>
                  <p *ngIf="j.hasOwnProperty('Time')"> Čas: {{j.Time.time}} </p><br>
                  <p *ngIf="j.hasOwnProperty('FastestLap')">Nejrychlejší kolo (v {{j.FastestLap.lap}}. kole) - {{j.FastestLap.Time.time}}
              </div>
               </ion-label>
          </ion-card-content>
          
         </ion-card>
        </ng-container>

      <ng-container *ngIf="velikost > 1">
        <ion-card *ngFor="let j of zavodyV | slice:0:1; let i = index">
          <ion-card-header>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka2}}.png" /> {{j.SprintResults[0].Driver.givenName}} {{j.SprintResults[0].Driver.familyName}} ve sprintech ({{j.season}}) </ion-card-title>
          </ion-card-header>
         </ion-card>
        <ion-card *ngFor="let j of zavodyV; let i = index">
          <ion-card-header>
            <ion-card-subtitle>#{{j.SprintResults[0].position}} - pozice v cíli</ion-card-subtitle>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka}}.png" /> {{j.season}} {{j.raceName}} ({{j.Circuit.Location.locality}}) - Sprint</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <div style="white-space: pre" >
                Pozice na startu: {{j.SprintResults[0].grid}} <br>
                Odjetých kol: {{j.SprintResults[0].laps}} <br>
                Status: {{j.SprintResults[0].status}} <br>
                <p *ngIf="j.hasOwnProperty('Results[0].Time')"> Čas: {{j.SprintResults[0].Time.time}} </p><br>
                <p *ngIf="j.hasOwnProperty('Results[0].FastestLap')">Nejrychlejší kolo (v {{j.SprintResults[0].FastestLap.lap}}. kole) - {{j.Results[0].FastestLap.Time.time}}
            </div>
             </ion-label>
        </ion-card-content>
         </ion-card>

         
         
        </ng-container>
       
  </ion-col>
  </ion-row>
  

</ion-grid>


</ion-content>
