<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pitstopy 
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Sezóna</ion-label>
        <ion-select aria-required="required" [(ngModel)]="sezona" (ionChange)="jezdciSezona($event)" placeholder="Vyber sezónu">
          <ion-select-option *ngFor="let s of sezony" value="{{s}}">{{s}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item id = "zavod">
        <ion-label>Závod</ion-label>
        <ion-select aria-required="required" [(ngModel)]="vybranyZ" (ionChange)="zavodC($event)" placeholder="Vyber závod">
          <ion-select-option *ngFor="let z of zavody" value={{z.round}}>{{z.raceName}}</ion-select-option>
        </ion-select>
      </ion-item>      
      <ion-item id = "vybratJ">
        <ion-label>Jezdec</ion-label>
        <ion-select aria-required="required" [(ngModel)]="jezdec" id = "jzdc" (ionChange)="jezdecC($event)" placeholder="Vyber jezdce">
          <ion-select-option *ngFor="let j of jezdci" value="{{j.driverId}}">{{j.givenName}} {{j.familyName}}</ion-select-option>
        </ion-select>
      </ion-item>     
    </ion-col>
    
  </ion-row>
  <ion-button id ="tlacitko" [attr.disabled]="isDisabled ? '' : null" (click)="btnFindClicked()" color="dark" expand="block">Hledej</ion-button>
  <ion-row id = "vysledky" [style.display]="isVisible ? 'block' : 'none'">
    <ion-col>
      <ng-container *ngIf="velikost > 0">
        <ion-card *ngFor="let j of zavody | slice:0:1; let i = index">
          <ion-card-header>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{nationality}}.png" /> {{firstName}} {{lastName}} a pitstopy</ion-card-title>
          </ion-card-header>
         </ion-card>
        <ion-card *ngFor="let j of zavody; let i = index">
          <ion-card-header>
            <ion-card-subtitle>Počet pitstopů: {{celkem}}</ion-card-subtitle>
            <ion-card-title><img id ="narodnost" src = "assets/vlajky2/{{j.vlajka}}.png" /> {{j.season}} {{j.raceName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label *ngFor="let x of pS; let i = index">
              <div *ngIf="x.stop" style="white-space: pre" >
              {{x.stop}}. pitstop v {{x.lap}}. kole, {{x.duration}}s dlouhý pitstop
            </div>
             </ion-label>
        </ion-card-content>
         </ion-card>
        </ng-container>
       
  </ion-col>
  </ion-row>
  

</ion-grid>


</ion-content>



